table {
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: orange;
  border-collapse: collapse;
  width: 100%;
}

thead th {
  background-color: #888888;
  color: white;
  text-align: center;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: orange;
  padding: 3px 5px;
}

tbody td {
  text-align: center;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: orange;
  padding: 3px 5px;
}

.sub-total-row {
  font-weight: bold;
}

.sub-total-text {
  text-align: right;
}